= form_tag tokens_admin_clients_path, multipart: true  do
  = label_tag :client, "User"
  = collection_select :client, :id, Client.all, :id, :name_with_email
  %br
  %br
  = label_tag :tokens, "Number Of Tokens: "
  = number_field_tag :tokens, "", required: true, min: 1
  %br
  %br
  = submit_tag "Add Tokens"