.container
  .row.justify-content-center
    .col-md-6
      .card.mx-4
        .card-block.p-4
          %h1 Register
          %p.text-muted Create your account
          = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {multipart: true}) do |f|
            .input-group.mb-3
              %span.input-group-addon
                %i.icon-user
              = f.email_field :email, autofocus: true, autocomplete: "off", required: true, placeholder: "Email", class: "form-control"
            / .input-group.mb-3
            /   %span.input-group-addon @
            /   %input.form-control{:placeholder => "Email", :type => "text"}/
            .input-group.mb-3
              %span.input-group-addon
                %i.icon-lock
              = f.password_field :password, autocomplete: "off", required: true, placeholder: "Password", class: "form-control"
            .input-group.mb-4
              %span.input-group-addon
                %i.icon-lock
              = f.password_field :password_confirmation, autocomplete: "off", required: true, placeholder: "Confirm password", class: "form-control"
            .input-group.mb-4
              .col-lg-6
                = f.label :account_type, "Coach", value: "coach"
                = f.radio_button :account_type, "coach", required: true
              .col-lg-6
                = f.label :account_type, "Client", value: "client"
                = f.radio_button :account_type, "client", required: true
            = f.submit "Sign up", class: "btn btn-success btn-block"
