-content_for :head do
  = "Hello"

-content_for :mail do
  - if @coach.name.present?
    %span{style: "color: #244a67; text-decoration: none"}
      = "#{@client.name}"

-content_for :content_head do
  = t ".content_head"

-content_for :content do
  %p= "You have booked a coaching session starting at #{@coaching_date.starting.strftime("%m/%d/%Y %l:%M %p")} with #{@coach.name}, #{@coach.user.email}."
