.card
  .card-header
    %strong Coaching Dates
  .card-block
    - if @coaching_dates.present?
      - @coaching_dates.each do |cd|
        .col-lg-10
          %h5
            = cd.starting.strftime("%m/%d/%Y - from %l:%M %p")
        - if current_user.account_type == "client"
          .col-lg-2
            = link_to "Book", edit_coaching_date_path(cd), class: "btn btn-primary"
        %br
        %br
    - else
      %h5.text-center
        = "No coaching sessions are available right now. Please try again later."
