.col-lg-3
  = link_to coach_path(coach), class: "no_decoration" do
    = render "coaches/partials/coach_profile", coach: coach, average_rating: @average_rating[coach]
  / .card
  /   .card-block
  /     .text-center
  /       = image_tag coach.user.image, class: "coach_image"
  /       %br
  /       %br
  /       %h2.name_text
  /         = coach.name 
  /       %h5.occupation_text
  /         = coach.occupation
  /       %h6
  /         = "Average rating: #{@average_rating}"
  /       %br
  /       %h6
  /         = coach.about
  /       = link_to "#{coach.name}", coach_path(coach)
