= form_tag add_coaching_dates_coach_path(@coach), method: :post do
  .card
    .card-header
      %strong Add coaching dates
    .card-block
      .form-group.row
        .col-lg-2
          = label_tag :date, "Date" 
        .col-lg-10
          = text_field_tag :date, "", autocomplete: "off", class: "datepicker form-control", required: true

      .form-group.row
        .col-lg-3
          = label_tag :starting_hour, "Starting time: "  
        .col-lg-3
          = select_tag :starting_hour, options_for_select(["1","2","3","4","5","6","7","8","9","10","11","12"], "9"), {class: "form-control"}
        .col-lg-3
          = select_tag :starting_minutes, options_for_select(["00","30"], "00"), {class: "form-control"}
        .col-lg-3
          = select_tag :starting_am, options_for_select(["AM", "PM"], "AM"), {class: "form-control"}


      .form-group.row
        .col-lg-3
          = label_tag :ending_hour, "Ending time: "  
        .col-lg-3
          = select_tag :ending_hour, options_for_select(["1","2","3","4","5","6","7","8","9","10","11","12"], "5"), {class: "form-control"}
        .col-lg-3
          = select_tag :ending_minutes, options_for_select(["00","30"]), {class: "form-control"}
        .col-lg-3
          = select_tag :ending_am, options_for_select(["AM", "PM"], "PM"), {selected: "PM", class: "form-control"}


    .card-footer.text-center
      = submit_tag "Add", class: "btn btn-sm btn-primary"

%br
%br

= form_tag remove_coaching_dates_coach_path(@coach), method: :post do
  .card
    .card-header
      %strong Remove coaching dates
    .card-block
      .form-group.row
        .col-lg-2
          = label_tag :date, "Date" 
        .col-lg-10
          = text_field_tag :date, "", autocomplete: "off", class: "datepicker form-control", required: true

      .form-group.row
        .col-lg-3
          = label_tag :starting_hour, "Starting time: "  
        .col-lg-3
          = select_tag :starting_hour, options_for_select(["1","2","3","4","5","6","7","8","9","10","11","12"], "9"), {class: "form-control"}
        .col-lg-3
          = select_tag :starting_minutes, options_for_select(["00","30"], "00"), {class: "form-control"}
        .col-lg-3
          = select_tag :starting_am, options_for_select(["AM", "PM"], "AM"), {class: "form-control"}


      .form-group.row
        .col-lg-3
          = label_tag :ending_hour, "Ending time: "  
        .col-lg-3
          = select_tag :ending_hour, options_for_select(["1","2","3","4","5","6","7","8","9","10","11","12"], "5"), {class: "form-control"}
        .col-lg-3
          = select_tag :ending_minutes, options_for_select(["00","30"]), {class: "form-control"}
        .col-lg-3
          = select_tag :ending_am, options_for_select(["AM", "PM"], "PM"), {selected: "PM", class: "form-control"}


    .card-footer.text-center
      = submit_tag "Remove", class: "btn btn-sm btn-danger"

:javascript
  window.starterkitrails.shared.initDatePicker("#{Date.today.strftime("%m-%d-%Y")}");