.col-lg-10
  %h5
    = cd.starting.strftime("%m/%d/%Y - from %l:%M %p")
.col-lg-2
  %h6
    - if cd.client_id.blank?
      = link_to "Delete", coaching_date_path(cd), method: :delete, class: "btn btn-danger"

    - else
      = "booked by #{cd.client.name}"
