.card
  .card-header
    %strong Coaching Dates
  .card-block
    - if @coaching_dates.present?
      - @coaching_dates.each do |cd|
        = render "coaches/partials/show_coaching_date", cd: cd
    - else
      %h4
        = "You have no coaching dates."