.margin-top-100
.row
  .col-md-12
    = form_for @user, html: {multipart: true } do |f|
      - add_error(@user.errors.full_messages.to_sentence, 'alert') if @user.errors.any?

      .col-lg-6.col-lg-offset-3
        .card
          .card-header
            %strong User Profile
          .card-block
            .form-group
            .form-group.row
              .col-md-3
                = f.label :email, "Email", class: "form-control-label"
              .col-md-9
                = f.email_field :email, autofocus: true, autocomplete: "off", required:true, placeholder: "Email", class: "form-control input-text"

            .form-group.row
              .col-md-3
                = f.label :password, "New Password", class: "form-control-label"
              .col-md-9
                = f.password_field :password, autofocus: true, autocomplete: "off", placeholder: "Password", class: "form-control input-text"

            .form-group.row
              .col-md-3
                = f.label :password, "Password confirmation", class: "form-control-label"
              .col-md-9
                = f.password_field :password, autofocus: true, autocomplete: "off", placeholder: "Password confirmation", class: "form-control input-text"

            .form-group.row
              .col-md-6.col-md-offset-3
                .fileupload.fileupload-new{data: {provides: 'fileupload'}}
                  .fileupload-preview.thumbnail.thumb-preview{style: "width: 80px; height: 77px"}
                    - if @user.try(:image).present?
                      = image_tag @user.image
                    - else
                      = image_tag "fallback/avatar.png"
                  %div
                    %span.btn.btn-file.btn-default.btn-sm
                      %span.fileupload-new
                        %span.glyphicon.glyphicon-picture
                        = t ".image"
                      %span.fileupload-exists
                        %span.glyphicon.glyphicon-open
                        = t '.change'
                      = f.file_field :image
                    = link_to "#", class: "btn fileupload-exists btn-danger btn-sm", data: {dismiss: 'fileupload'} do
                      %span.glyphicon.glyphicon-remove
                      = t '.remove'

                - if @user.try(:image).present?
                  .checkbox
                    %label
                      = f.check_box :remove_image
                      = t ".remove_image"


          .card-footer
            .text-center
              = f.submit "Update", class: "btn btn-sm btn-primary"

        / .form-group.input-group.input-group-lg
        /   %span.input-group-addon
        /     %i.fa.fa-user
        /   = f.email_field :email, autofocus: true, placeholder: "#{t ".email"}", autocomplete: "off", class: "form-control"

        / .form-group.input-group.input-group-lg
        /   %span.input-group-addon
        /     %i.fa.fa-lock
        /   = f.password_field :password, autocomplete: "off", placeholder: "#{t ".new_password"}", class: "form-control"

        / .form-group.input-group.input-group-lg
        /   %span.input-group-addon
        /     %i.fa.fa-lock
        /   = f.password_field :password, autocomplete: "off", placeholder: "#{t ".confirm_new_password"}", class: "form-control"

        / .form-group
        /   .fileupload.fileupload-new{data: {provides: 'fileupload'}}
        /     .fileupload-preview.thumbnail.thumb-preview{style: "width: 80px; height: 77px"}
        /       - if @user.try(:image).present?
        /         = image_tag @user.image
        /       - else
        /         = image_tag "fallback/avatar.png"
        /     %div
        /       %span.btn.btn-file.btn-default.btn-sm
        /         %span.fileupload-new
        /           %span.glyphicon.glyphicon-picture
        /           = t ".image"
        /         %span.fileupload-exists
        /           %span.glyphicon.glyphicon-open
        /           = t '.change'
        /         = f.file_field :image
        /       = link_to "#", class: "btn fileupload-exists btn-danger btn-sm", data: {dismiss: 'fileupload'} do
        /         %span.glyphicon.glyphicon-remove
        /         = t '.remove'

        / - if @user.try(:image).present?
        /   .form-group
        /     .checkbox
        /       %label
        /         = f.check_box :remove_image
        /         = t ".remove_image"

        / .form-group
        /   = f.submit (t ".button_update"), class: "btn btn-success full-width"

        / .form-group
        /   = link_to (t ".button_sign_out"), signout_path, class: "btn btn-default"
