.container
  .row.justify-content-center
    .col-md-6
      .card.mx-4
        .card-block.p-4
          %h1 Forgot password
          %p.text-muted Please enter your email below to receive password reset instructions
          = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
            .input-group.mb-3
              %span.input-group-addon
                %i.icon-user
              = f.email_field :email, autofocus: true, autocomplete: "off", required: true, placeholder: "Email", class: "form-control"
            = f.submit "Send me password reset instructions", class: "btn btn-success btn-block"
