.card
  .card-header
    %strong Pay with tokens
  .card-block
    .col-md-6.col-md-offset-3
      %h5
        = "Current amount: #{@client.tokens} tokens"
        %br
        = "Session price: #{@price} tokens"

  .card-footer
    .text-center
      = link_to "Pay with tokens" ,coaching_date_path(@coaching_date), method: :patch, disabled: @client.tokens >= @price ? false : true ,class: "btn btn-sm btn-primary"