.card
  .card-header
    %strong Pay with credit card
  .card-block
    .col-md-6.col-md-offset-3
      %h5
        = "Session price: #{@price} $"

  .card-footer
    .text-center
      = form_tag pay_with_credit_card_coaching_date_path(@coaching_date), method: :post do 
        %script.stripe-button{"data-amount" => @price * 100, "data-description" => "Session with #{@coach.name}", "data-image" => "https://stripe.com/img/documentation/checkout/marketplace.png", "data-key" => @public_key, "data-locale" => "auto", "data-name" => "Coaching App", :src => "https://checkout.stripe.com/checkout.js"}