%button.navbar-toggler.mobile-sidebar-toggler.d-lg-none{:type => "button"} ☰
%h3.app_logo
  = link_to "Coaching App", root_url
%ul.nav.navbar-nav.d-md-down-none
  %li.nav-item
    %a.nav-link.navbar-toggler.sidebar-toggler{:href => "#"} ☰
%ul.nav.navbar-nav.ml-auto
  - if current_user.account_type == "client"
    %li.nav-item.d-md-down-none
      %a.nav-link{:href => "#"}
        %i.icon-credit-card.bigger_money
        %span.badge.badge-pill.badge-danger.bigger_tokens #{current_user.client.tokens}

  %li.nav-item.dropdown
    %a.nav-link.dropdown-toggle.nav-link{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
      = image_tag current_user.image, class: "img-avatar"
      %span.d-md-down-none #{current_user.email}
    .dropdown-menu.dropdown-menu-right
      .dropdown-header.text-center
        %strong Account
      %a.dropdown-item{:href => "#"}
        %i.fa.fa-bell-o
        Updates
        %span.badge.badge-info 42
      %a.dropdown-item{:href => "#"}
        %i.fa.fa-envelope-o
        Messages
        %span.badge.badge-success 42
      %a.dropdown-item{:href => "#"}
        %i.fa.fa-tasks
        Tasks
        %span.badge.badge-danger 42
      %a.dropdown-item{:href => "#"}
        %i.fa.fa-comments
        Comments
        %span.badge.badge-warning 42
      .dropdown-header.text-center
        %strong Settings
      %a.dropdown-item{:href => "#"}
        %i.fa.fa-user
        Profile
      %a.dropdown-item{:href => "#"}
        %i.fa.fa-wrench
        Settings
      %a.dropdown-item{:href => "#"}
        %i.fa.fa-usd
        Payments
        %span.badge.badge-default 42
      %a.dropdown-item{:href => "#"}
        %i.fa.fa-file
        Projects
        %span.badge.badge-primary 42
      .divider
      %a.dropdown-item{:href => "#"}
        %i.fa.fa-shield
        Lock Account
      %a.dropdown-item{:href => "#"}
        %i.fa.fa-lock
        Logout