%ul.nav
  %li.nav-title
    = "#{current_user.account_type.capitalize} Area" 
  
  - if current_user.account_type == "coach"
    %li.nav-item
      = link_to coach_path(current_user.coach), class: "nav-link" do
        %i.icon-user
        View Profile

    %li.nav-item
      = link_to edit_coach_path(current_user.coach), class: "nav-link" do
        %i.icon-envelope-letter
        Edit Coach Profile

    - if current_user.coach.name.present? && current_user.coach.phone.present? && current_user.coach.validated_phone
      %li.nav-item
        = link_to set_coaching_dates_coach_path(current_user.coach), class: "nav-link" do
          %i.icon-clock
          Set sessions

      %li.nav-item
        = link_to financial_details_coach_path(current_user.coach), class: "nav-link" do
          %i.icon-wallet
          Financial details
  - else
    %li.nav-item
      = link_to edit_client_path(current_user.client), class: "nav-link" do
        %i.icon-envelope-letter
        Edit Client Profile
    - if current_user.client.name.present? && current_user.client.phone.present? && current_user.client.validated_phone
      %li.nav-item
        = link_to show_coaches_coaches_path, class: "nav-link" do
          %i.icon-clock
          Book session
  %li.nav-title
    Account settings
    %li.nav-item
      = link_to edit_user_path(current_user), class: "nav-link" do
        %i.icon-settings
        Account Settings

  %li.nav-title
    Log out
    %li.nav-item
      = link_to signout_path, class: "nav-link" do
        %i.icon-logout
        Logout