.container
  .row.justify-content-center
    .col-md-8
      .card-group.mb-0
        .card.p-4
          .card-block
            %h1 Coaching App
            %p.text-muted Sign In to your account
            = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
              .input-group.mb-3
                %span.input-group-addon
                  %i.icon-user
                = f.email_field :email, autofocus: true, autocomplete: "off", required: true, placeholder: "Email", class: "form-control"
                //%input.form-control{:placeholder => "Username", :type => "text"}/
              .input-group.mb-4
                %span.input-group-addon
                  %i.icon-lock
                //%input.form-control{:placeholder => "Password", :type => "password"}/
                = f.password_field :password, autocomplete: "off", placeholder: "Password", required: true,class: "form-control"
              .row
                .col-6
                  = f.submit "Login", class: "btn btn-primary px-4"
                  //%button.btn.btn-primary.px-4{:type => "button"} Login
                .col-6.text-right
                  = link_to "Forgot password?", new_password_path(resource_name), class: "btn btn-link px-0"
                  //%button.btn.btn-link.px-0{:type => "button"} Forgot password?
        .card.card-inverse.card-primary.py-5.d-md-down-none{:style => "width:44%"}
          .card-block.text-center
            %div
              %h2 Sign up
              %p Don't have an account? Sign up using the buttom below.
              = link_to "Register now", new_registration_path(resource_name), class: "btn btn-primary active mt-3"
