.row.pager
  .col-md-12

    = form_for @coach, url: coach_path(@coach), method: :patch do |f|
      //- add_error(resource.errors.full_messages.to_sentence, 'alert') if resource.errors.present?
      .col-lg-6.col-lg-offset-3
        .card
          .card-header
            %strong Coach Profile
          .card-block
            .form-group
            .form-group.row
              .col-md-3
                = f.label :first_name, "First Name", class: "form-control-label"
              .col-md-9
                = f.text_field :first_name, autofocus: true, autocomplete: "off", required:true, placeholder: "First name", class: "form-control input-text"

            .form-group.row
              .col-md-3
                = f.label :last_name, "Last Name", class: "form-control-label"
              .col-md-9
                = f.text_field :last_name, autofocus: true, autocomplete: "off", required:true, placeholder: "Last name", class: "form-control input-text"

            .form-group.row
              .col-md-3
                = f.label :occupation, "Occupation", class: "form-control-label"
              .col-md-9
                = f.text_field :occupation, autofocus: true, autocomplete: "off", required:true, placeholder: "Occupation", class: "form-control input-text"

            .form-group.row
              .col-md-3
                = f.label :phone, "Phone number", class: "form-control-label"
              .col-md-9
                = f.text_field :phone, autofocus: true, autocomplete: "off", required:true, placeholder: "Phone", class: "form-control input-text"

            .form-group.row
              .col-md-3
                = f.label :about, "About me", class: "form-control-label"
              .col-md-9
                = f.text_area :about, placeholder: "About", rows: 4, class: "form-control"

            -if @coach.phone.blank?
              .verify_phone
                = 'Please fill in your profile.'
            - elsif !@coach.validated_phone
              .form-group.row
                .col-md-12
                  = link_to 'Please verify your phone number in order to use the application.', verify_phone_coach_path(@coach), class: "verify_phone"


          .card-footer
            = f.submit "Update", class: "btn btn-sm btn-primary"
