.row.pager
  .col-md-12

    = form_tag set_financial_details_coach_path(@coach), method: :post do |f|
      //- add_error(resource.errors.full_messages.to_sentence, 'alert') if resource.errors.present?
      .col-lg-6.col-lg-offset-3
        .card
          .card-header
            %strong Set desired hourly rate
          .card-block
            .form-group
            .form-group.row
              .col-md-3
                = label_tag 'rate', "Desired rate", class: "form-control-label"
              .col-md-9
                = number_field_tag 'rate', @coach.rate,required: true, placeholder: "Rate", min: 10 , max: 200, class: "form-control input-text"

          .card-footer
            = submit_tag "Set", class: "btn btn-sm btn-primary"
