.margin-top-100
- if @coaches.blank?
  .margin-top-100
    .text-center
      %h3
        = "No coaches are available right now. Please try again later."

- else 
  - @coaches.each do |coach| 
    = render "coaches/partials/coach_tile", coach: coach