.row.pager
  .col-md-12

    = form_tag verify_token_coach_path(@coach), method: :post do |f|
      //- add_error(resource.errors.full_messages.to_sentence, 'alert') if resource.errors.present?
      .col-lg-6.col-lg-offset-3
        .card
          .card-header
            %strong Enter received token
          .card-block
            .form-group.row
              .col-md-12
                = "Please enter the token code receive on your phone."
                

            .form-group.row
              .col-md-3
                = label_tag 'token', "Received token", class: "form-control-label"
              .col-md-9
                = text_field_tag 'token', nil ,required: true, placeholder: "Token", class: "form-control input-text"

            %br
            .form-group.row
              .col-md-12
                = "Didn't receive confirmation token? Click "
                = link_to "here", resend_code_coach_path(@coach), method: :post
                = " to resend." 

          .card-footer
            = submit_tag "Verify", class: "btn btn-sm btn-primary"
