.margin-top-100
.col-lg-6.col-lg-offset-3
  .card
    .card-header
      %strong Coaching session on #{@coaching_date.starting.strftime("%m/%d/%Y")}
    .card-block
      From #{@coaching_date.starting.strftime("%l:%M %p")} to #{(@coaching_date.starting + 30.minutes).strftime("%l:%M %p")}
.col-lg-6
  = render "coaching_dates/partials/pay_with_card"
.col-lg-6
  = render "coaching_dates/partials/pay_with_tokens"