@import colors

.flash-container
  z-index: 9999
  position: fixed
  bottom: 0
  font-size: 24px
  width: 100%
  .flash
    padding: 10px
    text-align: center
    margin-bottom: 0px
    color: white
    &.notice
      background-color: $notice-color
    &.alert
      background-color: $notice-color
    &.error
      background-color: $link-red

.margin-top-100
  margin-top: 20px

.fileupload-preview
  line-height: 67px !important

.app_logo
  text-decoration: none
  font-weight: bold

.bigger_money
  font-size: 24px

.bigger_tokens
  font-size: 11px

.verify_phone
  font-weight: bold
  color: red

.coach_image
  height: 120px
  width: 120px
  border-radius: 50%

.name_text
  font-weight: bold

.occupation_text
  font-style: italic

.no_decoration
  color: black

.no_decoration
  &:hover, &:visited, &:link, &:active
    text-decoration: none
