!!!
%html
  %head
    %title COACHING-APPLICATION
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}

    - if current_user.present?
      %body.app.header-fixed.sidebar-fixed.aside-menu-fixed.aside-menu-hidden
        %header.app-header.navbar
          = render 'shared/header'

        .app-body
          .sidebar
            %nav.sidebar-nav
              = render 'shared/nav'

          %main.main
            = yield
    - else
      %body{class: params[:controller].gsub("/", "-")}
        .margin-top-100
          = yield

      %script{type: "text/javascript", 'data-turbolinks-eval'=>false}
        var string = "#{(j (yield :scripts))}";
        eval(string);
        window.starterkitrails.shared.init();
    = render 'shared/flash_notice'
